/* The designs were created to the following widths:

- Mobile: 375px
- Desktop: 1440px

## Colors

- Very Dark Gray: hsl(0, 0%, 17%)
- Dark Gray: hsl(0, 0%, 59%)

## Typography

### Body Copy

- Font size (text input): 18px

### Font

- Family: [Rubik](https://fonts.google.com/specimen/Rubik)
- Weights: 400, 500, 700 */

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Rubik", sans-serif;
  font-size: 1.125rem;
  text-align: center;
}

h1 {
  margin-top: 0;
  margin-bottom: 1em;
  padding-top: 2em;
  color: #fff;
}

.container {
  height: 100vh;
  width: 100vw;
}

.header {
  background-image: url("./images/pattern-bg.png");
  background-size: cover;
  height: 30%;
}

.main {
  height: 70%;
  /* background-color: lightgray; */
  z-index: 1;
  position: relative;
}

.ip-form {
  margin: 0 auto 1em;
}

.input,
.submit {
  padding: 0.75em 1.9em;
  line-height: 2;
  border: none;
  margin: 0;
  display: inline-block;
}

.input {
  border-radius: 15px 0 0 15px;
  width: 65%;
  font-weight: 700;
}

.submit {
  border-radius: 0 15px 15px 0;
  background: #000;
  color: #fff;
  font-weight: 700;
  width: 15%;
}

.address-card {
  background-color: #fff;
  border-radius: 15px;
  margin: 0 auto;
  padding: 1em 4em;
  z-index: 3;
  position: relative;
  width: 80%;
  box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.5);
}

h1 {
  font-size: 2em;
}

h2 {
  color: hsl(0, 0%, 59%);
  font-size: 0.65em;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  margin: 0;
  padding: 0;
}

.detail {
  color: hsl(0, 0%, 17%);
  font-size: 1em;
  font-weight: 500;
  margin-top: 0.25em;
}

#mapid {
  height: 93%;
}

.attribution {
  font-size: 11px;
  text-align: center;
  position: absolute;
  bottom: 2%;
  left: 50%;
  transform: translateX(-50%);
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

@media (min-width: 790px) {
  .address-card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 3em 1.5em;
  }

  .col + .col {
    margin-left: 1em;
  }

  .col + .col::before {
    content: "";
    background-color: hsl(0, 0%, 59%);
    height: 100%;
    width: 2px;
    display: inline-block;
    margin-right: 2px;
  }

  h2 {
    margin-right: 3px;
  }

  .col {
    display: flex;
  }

  .input {
    width: 30%;
  }

  .submit {
    width: 10%;
  }

  #mapid {
    height: 95%;
  }
}
